Temp/
Library/
.vs/
BUILDS_ANDROID/
BUILDS_WIN/s
LoadedAssetBundles/

ExportedObj/
obj/
*.exe
*.gif
*.png
*.svd
*.userprefs
/*.csproj
*.pidb
*.suo
/*.sln
*.user
*.unityproj
*.booproj

.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
StyleCop.Cache
Doc/OutputDocs/
